/*
 * Style.css 
 */


 .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.header,
.footer  { flex: 1 100%; }
.sidebar { flex: 1; }
.main    { flex: 2; }

.flex-item {
  
  background: tomato;
  padding: 10px;
  width: 100px;
  border: 3px solid rgba(0,0,0,.2);
  
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}








html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px
}

.header {
    font-size: 45px;
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.container {
    margin: 0;
    background-color: #FFAEAE
}

header {
    margin-top: 0;
    background-color: #BFB19C;
    min-height: 100px;
    width: 100%;
    text-align: center;
    background-image: url("image.jpg");
    background-size: cover;
}

.headerwrapper {
    height: 300px;
    position: relative;
}

.addres {
    border: 1px;
}


}
.write_me {}
label {
    background-color: #FA3CD6 width: 300px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input {
    width: 300px;
}
input[type=submit] {
    background-color: green;
    width: 100px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
}
.buttonfield {
    text-align: right;
    padding-right: 50px;
}
.leftfield {

}

.rightfield {

}


footer {
    background-color: #333333;
    height: 200px;
    padding: 20px;
    color: #dedede;
}


header,
footer  { flex: 1 100%; }
sidebar { flex: 1; }
main    { flex: 2; }


/* For mobile phones: 0 - 300 px */
@media only screen and (max-width: 320px) {
    header {
        height: 100px;
    }
    .headerwrapper {
        height: 100px;
    }
    aside {
        width: 100%;
    }
    main {
        width: 100%;
    }
}


/* For tablets:  301 - 700 px */
@media only screen and (min-width: 321px) and (max-width: 780px) {
    header {
        height: 100px;
    }
    .headerwrapper {
        height: 100px;
    }
    .address {
        width: 50%;
    }
}


/* For desktops:  701 - 1200 px */
@media only screen and (min-width: 781px) {
    header {
        height: 300px;
        width: 100%;
        text-align: center;
    }
    .address {
        width: 33:33%;
    }
    .addres_details {
        visibility: visible;
    }

}


